.ExpenseFilter_control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(41, 40, 40);
    border-radius: 8px;
    height: 3.5rem;
    margin-bottom: 1rem;
}
.ExpenseFilter_control label{
    font-size: 25px;
}

.ExpenseFilter_control select{
    height: 2.5rem;
    width: 4rem;
    border-radius: 10px;
}