.form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}
.expense_form label{
    font-size: larger;
    font-weight: 400;
    display : block;
    margin-bottom: 0.5rem;
}
.expense_form input{
    height: 2rem;
    width :20rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:antiquewhite;
}
.button_submit{
    text-align: right;
    padding : 10px;
}
.button_submit button{
    border-radius: 5px;
    background-color: rgb(121, 97, 206);
    height: 3rem;
    width : 6rem
}